@import "tailwindcss";

@theme {
  --color-brandels-blue: oklch(57% 0.21 258.2);
  --color-aquamarine: oklch(80% 0.16 164.8);
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
